/* General header styling */
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #32363e;
  padding: 2px 2rem;
  color: white;
}

.header-links,
.social-icons {
  display: flex;
  column-gap: 10px;
}

.header-links a p {
  font-size: 15px;
  margin: 0;
  color: white;
  text-decoration: none;
}

/* Bottom header section */
.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.logo-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-weight: 550;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
}

.contribute-button {
  background-color: green;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  padding: 5px;
  cursor: pointer;
}
