body {
  margin: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #1f2937; /* Tailwind bg-gray-800 */
  color: white;
  padding: 1rem;
  text-align: center;
}
